<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <form action="" method="POST">
            <div id="news">
                <label for="">Title :</label><br>
                <input type="text" name="title">
                <br><br>
                <label for="">Content :</label><br>
                <input type="text" name="content">
                <br><br>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>