<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Repost</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <b><p>Bạn vừa thêm mới 1 sản phẩm, Để tiếp tục thêm mới vui lòng chọn tiếp tục.</p></b>
        <a href="/new_bike">
            <button>Tiếp Tục</button>
        </a>
    </div>
</body>
</html>