<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <h2>hom nay 21 thang 10 het ngay phu nu roi an gi day ?</h2>
        <!-- <p>com</p> the <p> moi 1 content la 1 hang-->
        <!-- <p>canh</p> -->
        <!-- <span>rau</span> the <span> chia nhau vi tr tren cug 1 hang -->
        <!-- <span>muong</span> -->
        <!-- the <ol> = odered list tu danh so -->
        <ol>
            <li>Lau</li>
            <li>Nuong</li>
            <!-- <br> xuong dong -->
            <li>Oc</li>
            <!-- the li la list -->
            <!-- the <ul> k danh so -->
        </ol>
    </div>
</body>
</html>