<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="firstname" placeholder="First Name"><br><br>
        <input type="text" name="lastname" placeholder="Last Name"><br><br>
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="text" name="yob" placeholder="Yob"><br><br>
        <label for="gender">Gender</label><br>
        <span>
            <input type="radio" name="gender" value="Male" checked>Male
            <input type="radio" name="gender" value="Female">Female
            <input type="radio" name="gender" value="Other">Other
        </span><br><br>
        <input type="text" name="city" placeholder="City"><br><br>
        <a href="/register"></a>
        <button>Submit</button>
    </form>
</body>
</html>